<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
    <main>
        <img id="sadFaceImg"
            src="https://i.pinimg.com/originals/bc/a3/0f/bca30f5f390e1853c679952545c86e72.gif" alt="sad face"/>
        <p align="center">
            <h1 align="center">404</h1>
            <h2 align="center">Page not found</h2>
        </p>
    </main>
