<main>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="https://chronicle.brightspotcdn.com/dims4/default/cc54657/2147483647/strip/true/crop/1200x800+0+50/resize/1680x1120!/format/webp/quality/90/?url=http%3A%2F%2Fchronicle-brightspot.s3.amazonaws.com%2F89%2Ff6%2F3de7e4a3bdd9a9e00ae13422c313%2Fonline-teaching.jpg" id="login-img"/>
        </div>
        <div class="col-md-2"></div>
    </div>
    <form class="text-center border border-light p-5" action="/login" method="POST">
        <div class="form-group">
            <label "text-left" for="username"></label>
            <input type="text" class="form-control" placeholder="Username" name="username" value="" id="login-username">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control" placeholder="Password" name="password" value="" id="login-password">
        </div>

        <button type="submit" class="btn btn-primary" id="login-button">Login</button>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="./notify.min.js"></script>
<script type="text/javascript" src="./index.js"></script>